{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron transparent">
  <nav class="nav nav-pills nav-fill nav-custom">
    <a class="nav-item nav-link" href="/home">Home</a>
    <a class="nav-item nav-link" href="/about">About CYBEX</a>
    <a class="nav-item nav-link" href="/personnel">Personnel</a>
  </nav>
  <div style="text-align: center;">
    <hr class="my-4">
    <h2>Documentation</h2>
    <hr class="my-4">
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
    <div style="display: flex; justify-content: center; align-items: center; width:60%; height:30vh; background-color:white; padding:10px;border-radius:20px; text-align: center; margin-bottom: 20px; font-size: x-large;">
        <a href="/static/docPages/html/README.html">CYBEX-P Infrastructure & Web App Documentation</a>
      </div>
    <div style="display: flex; justify-content: center; align-items: center; width:30%; height:10vh; background-color:white; padding:10px;border-radius:20px; text-align: center;">
      <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1739032&HistoricalAwards=false">Privacy-Preservation Documentation</a>
    </div>
  </div>
    <!-- <h5>This page is under construction...</h5>
    <br>
    <h2>User Guide</h2>
    <h5>Quickstart</h5>
    <h5>Feature Reference</h5>
    <h5>Guided Tutorials</h5>
    <video width="100%" controls>
        <source src="../static/video/cybex_overview.mp4" type="video/mp4">
        Your browser does not support this video.
    </video>
    <h2>For Developers</h2>
    <h5>Platform Overview</h5>
    <img src="../static/images/sysarch.png" alt="CYBEX ARCH" width="50%;">
    <h5>CYBEX Backend</h5>
    <h5>Web Portal</h5>
    <p>API Specification</p>
    <p>Full Reference</p>
    <p>Deployment</p> -->
</div>
{% endblock %}