{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
  <div style="display:flex; justify-content: space-between; align-items: center;">
    <div style="background-color:white; padding:10px;border-radius:5px;">
      <div style="display:flex; justify-content: flex-start; align-items: flex-end;">
        <h1 class="display-4">CYBEX</h1>
        <p class="lead">Cyber Data Exchange
      </div>
      <!-- <p>Next-generation cyber data exchange framework</p> -->
      <a class="btn btn-primary btn-lg" href="/graph" role="button">CTI Graph</a>
      <a class="btn btn-secondary btn-lg" href="/" role="button">About CYBEX</a>
      <a class="btn btn-secondary btn-lg" href="/" role="button">User Guide</a>
    </div>
    <div>
      {% if user.is_authenticated %}
        <h5 class="text-primary">Welcome,</h5>
        <p>You are connected to CYBEX</p>
        <a class="btn btn-primary btn-sm" href="{% url 'logout' %}" role="button">Sign Out</a>
        <a class="btn btn-secondary btn-sm" href="/admin" role="button">Admin</a>

        {% else %}
        <h5 class="text-primary">Hello,</h5>
        <p>Sign in to access CYBEX</p>
        <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Sign In</a>
        <a class="btn btn-secondary btn-sm" href="/admin" role="button">Admin</a>
      {% endif %}
    </div>
    <div>
      <h5>Latest Updates</h5>
      <ul>
        <li>Release Notes 11/20/2020</li>
        <li>Tahoe Upgrade Scheduled Soon</li>
        <li>etc.</li>
      </ul>
    </div>
  </div>
  
  <hr class="my-4">
  <h3>Industry News</h3>
  <br>
  <div style="display:flex; justify-content: space-between;">
    <div style="width: 30%;">
      <a class="twitter-timeline" href="https://twitter.com/CISAgov/lists/cisa-twitter?ref_src=twsrc%5Etfw">A Twitter List by CISAgov</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div style="width: 30%;">
      <a class="twitter-timeline" href="https://twitter.com/unrcyber?ref_src=twsrc%5Etfw">Tweets by unrcyber</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div style="width: 30%;">
      <a class="twitter-timeline" href="https://twitter.com/MsftSecIntel?ref_src=twsrc%5Etfw">Tweets by MsftSecIntel</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  {% endblock %}
</div>