{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="jumbotron transparent">
  <nav class="nav nav-pills nav-fill nav-custom">
    <a class="nav-item nav-link active-custom nav" href="/home">Home</a>
    <a class="nav-item nav-link" href="/about">About CYBEX</a>
    <a class="nav-item nav-link" href="/personnel">Personnel</a>
  </nav>
  <hr class="my-4">
  <div style="display:flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div class="floating-card">
      <div style="display:flex; justify-content: flex-start; align-items: flex-end; flex-wrap: wrap;">
        <h1 class="display-4">CYBEX</h1>
        <p class="lead" style="white-space: nowrap;">Cyber Data Exchange</p>
      </div>
      <!-- <p>Next-generation cyber data exchange framework</p> -->
      <a class="btn btn-primary btn-lg" href="/graph" role="button">CTI Graph</a>
      <!-- <a class="btn btn-secondary btn-lg" href="/" role="button">About CYBEX</a> -->
      <!-- <a class="btn btn-secondary btn-lg" href="/" role="button">Guide</a> -->
      <a class="btn btn-secondary btn-lg" href="/docs" role="button">Documentation</a>
    </div>
    <div style="margin: 10px;">
      {% if user.is_authenticated %}
        <h5 class="text-primary">Welcome,</h5>
        <p>You are connected to CYBEX</p>
        <a class="btn btn-primary btn-sm" href="{% url 'logout' %}" role="button">Sign Out</a>
        <a class="btn btn-secondary btn-sm" href="/admin" role="button">Admin</a>

        {% else %}
        <h5 class="text-primary">Hello,</h5>
        <p>Sign in to access CYBEX</p>
        <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Sign In</a>
        <a class="btn btn-secondary btn-sm" href="/admin" role="button">Admin</a>
      {% endif %}
    </div>
    <div style="padding: 5px; margin: 10px 0px 0px 0px;">
      <h5>Latest Updates</h5>
      <ul>
        <li>Beta version 0.9</li>
        <li>Honeypot Visualizer</li>
        <li>User study completed</li>
      </ul>
    </div>
  </div>
  <hr class="my-4">

  <div id="carouselExampleIndicators" data-interval="25000" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../static/images/small_overview.png" alt="First slide" style="border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../static/images/farhan_real_gif.gif" alt="Second slide" style="border-radius: 10px;">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../static/images/example_graph.png" alt="Second slide" style="border-radius: 10px;">
        <!-- <div class="embed-responsive embed-responsive-16by9" style="z-index: 1000">
          <iframe class="embed-responsive-item" src="../static/video/cybex_overview.mp4" allowfullscreen></iframe>
        </div> -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr class="my-4">
  <div style="display:flex; justify-content: space-between;">
      <img src="../static/images/example_graph.png" width="49%" alt="image" style="border-radius: 10px;">
      <img src="../static/images/example_graph.png" width="49%" alt="image" style="border-radius: 10px;">
  </div>

  <hr class="my-4">
  <h3>Industry News</h3>
  <br>
  <div style="display:flex; justify-content: space-between; height:50vh;">
    <div style="width: 30%; overflow:auto">
      <a class="twitter-timeline" href="https://twitter.com/CISAgov/lists/cisa-twitter?ref_src=twsrc%5Etfw">A Twitter List by CISAgov</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div style="width: 30%; overflow:auto">
      <a class="twitter-timeline" href="https://twitter.com/unrcyber?ref_src=twsrc%5Etfw">Tweets by unrcyber</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div style="width: 30%; overflow:auto">
      <a class="twitter-timeline" href="https://twitter.com/MsftSecIntel?ref_src=twsrc%5Etfw">Tweets by MsftSecIntel</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  {% endblock %}
</div>

