// custom.scss
// https://getbootstrap.com/docs/4.0/getting-started/theming/
// https://create-react-app.dev/docs/adding-bootstrap/
// https://react-bootstrap.github.io/getting-started/introduction/#sass

// Color palette: https://coolors.co/e00061-fd5507-f5b400-56ab21-1f75ff-7214f5
$theme-colors: (
  "Amsterdam": rgb(224, 0, 97),
  "Bangalore": rgb(253, 85, 7),
  "London": rgb(245, 180, 0),
  "New_York": rgb(86, 171, 33),
  "Singapore": rgb(31, 117, 255),
  "Toronto": rgb(114, 20, 245)
);

$custom-control-indicator-disabled-bg: rgba(108, 117, 125, .5);
$custom-control-indicator-checked-disabled-bg: rgba(92, 171, 255, 0.5);

$custom-control-label-color: #dee2e6;
$custom-control-label-disabled-color: #6c757d;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

// body {
//   height: 100vh;
  
// }

// #root {
//   height: 100vh;
// }

#sidebar_parent {
  position: absolute;
  width: min-content;
}

#sidebar {
  position: relative;
  z-index: 10000;
  width: min-content;
  max-width: 30vw;
  margin-left: 0;
  display: flex;
  flex-flow: column;
  background-color: rgba(55, 59, 71, 0.75);
}

.sidebar-hidden#sidebar {
  left: -100%;
}

#sidebar .col {
  flex-basis: content;
  display: flex;
  flex-wrap: wrap;
}

#header_col {
  padding-top: 1em;
  justify-content: center;
}

.row > div:nth-of-type(2) {
  justify-content: flex-end;
}

#sidebar_toggle {
  background-color: rgba(55, 59, 71, 0.75);
  height: 16vh;
  width: 2em;
  z-index: 10000;
  position: absolute;
  top: 42vh;
  right: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar_toggle svg {
  color: white;
  width: auto;
  height: auto;
  padding: 2px;
}

.sidebar-hidden#sidebar_toggle {
  right: unset;
}

.input-group {
  flex-wrap: unset;
}

.input-group-text {
  flex-grow: 1;
}

.switchCol {
  flex-basis: content;
  flex-grow: 0;
}

.custom-switch {
  padding-left: $custom-control-gutter + $custom-control-indicator-size;
}

.react-daterange-picker__wrapper {
  padding: 0.375rem 0.25rem;
  background-color: white;
  border-radius: 0.25rem;
}

.react-daterange-picker__inputGroup {
  text-align: center;
  min-width: max-content !important;
  padding: 0 0.5em !important;
  width: 7em;
}

.btn svg {
  margin-left: 0.5em;
}

.top_bottom_padding {
  padding: 1em 0;
}

#chart_row {
  flex-grow: 1;
  flex-basis: content;
}

#filter_button_row {
  flex-grow: 1;
  align-items: end;
  align-content: flex-end;
  padding-bottom: 1em;
}

h1 {
  color: white;
  font-size: 1.5em;
}

h2 {
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.mapboxgl-popup-tip {
  border-color:rgba(55, 59, 71, 0.75) !important;
 } 

 .mapboxgl-popup-content {
  background:rgba(55, 59, 71, 0.90) !important;
  color: white;
 }

 .mapboxgl-popup-content div svg {
	margin-right: 10px;
}

#deckgl-overlay {
  z-index: 10000;
}

.mapboxgl-popup {
  z-index: 10001;
}

#view-default-view > div:nth-child(1) {
  z-index: 9999 !important;
}

#view-default-view > div:nth-child(1) > div:nth-child(1) {
  position: absolute !important;
}